.image img{
    max-width: 70px;
    max-height: 100px;
}

	/* Mobile nav */
	.nav-beneden {
		display: flex;
		background-color: var(--color-secundary-pure);
		justify-content: space-between;
		border-bottom-style: solid;
		border-width: 0.5px;
        padding-left: 50px;
        padding-right: 50px;
	}

	.nav-boven {
		text-align: right;
		background-color: #333;
		padding: 20px;
	}
    
	.nav-link1 {
		padding: 5px;
		color: var(--color-secundary);
		text-decoration: none;
		border-bottom: 2px;
		border-bottom-style: solid;
		margin: 10px;
	}

	.nav-beneden img {
		width: 86.5px;
		aspect-ratio: 1/1;
	}

   
	.nav-link2 {
		margin-top: 30px;
		text-decoration: none;
		color: black;
        display: none;
	}

	.nav-link2:hover {
		transform: scale(1.1);
		transition-duration: 1s;
	}

	.Wensen {
		background-color: yellow;
		text-decoration: none;
		color: black;
		padding: 20px;
		border-radius: 20px;
		margin: 10px;
        display: none;
	}

	.Wensen:hover {
		transform: scale(1.1);
		transition-duration: 1s;
	}

	@media (min-width: 970px) {
        .nav-link2{
            display: block;
        }
        .Wensen{
            display: block;
        }
        .dropdown svg{
            display: none;
        }
        .details{
        display: none;
        
    }
	}

    .dropdown > svg{
        width: 20px;
    }

    .details .dropdown svg {
		fill: var(--color-primary);
	}

    .details{
        margin: 10px;
        margin-top: 30px;
        text-align: right;
    }
  
  
    .details > ul{
        list-style-type: none;
        padding-top: 10px;
    }
    .details > ul > li{
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
    }

    .details > ul > li:hover{
        transform: scale(1.1);
        transition-duration: 1s;
        background-color: yellow;
    }

    .details > ul > li > a{
        text-decoration: none;
        color: black;
    }

	.details > summary {
  list-style: none;
}

.details summary::-webkit-details-marker {
  display:none;
}